@import '../variables';
:last-child .categories {
  margin: 0 0 24px 0;
  padding: 0 20px;
  ul {
    display: flex;

    justify-content: center;
    @media (max-width: 1338px) {
      margin: 0 0 24px 0;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
