@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 999px) {
    padding: 30px 0 0 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1000px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }

    @media (max-width: 1000px) {
      margin: 0 0 24px 0;
    }
  }
}
